absl-py==2.3.1
accelerate==1.10.1
addict==2.4.0
aiobotocore==2.17.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.10.0
appdirs==1.4.4
argbind==0.3.9
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
aria2==0.0.1b0
arrow==1.3.0
asgiref==3.9.1
astor==0.8.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
atom3d==0.2.6
attrs==25.3.0
audioread==3.0.1
av==15.0.0
babel==2.17.0
backoff==2.2.1
bayes==0.1.1
bayesian-optimization==3.1.0
bcrypt==4.3.0
beautifulsoup4==4.13.5
bidict==0.23.1
biopython==1.85
biotite==1.2.0
biotraj==1.2.2
bitarray==3.7.0
blake3==1.0.5
bleach==6.2.0
blinker==1.9.0
blosc2==3.7.2
-e git+https://gitee.com/fit_ants/higgs-audio.git@f04f5df76a6a7b14674e0d6d715b436c422883c6#egg=boson_multimodal
boto3==1.35.36
botocore==1.35.93
Brotli==1.1.0
build==1.3.0
cachetools==5.5.2
carveme==1.6.6
cbor2==5.7.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
chroma-hnswlib==0.7.3
chromadb==1.0.20
click==8.2.1
cloudpathlib==0.21.1
cloudpickle==3.1.1
cobra==0.29.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
compressed-tensors==0.10.2
ConfigArgParse==1.7.1
configobj==5.0.9
contourpy==1.3.2
cryptography==45.0.7
cupy-cuda12x==13.6.0
cycler==0.12.1
Cython==3.1.3
dacite==1.9.2
dash==3.2.0
dashscope==1.24.4
dataclasses-json==0.6.7
datasets==4.0.0
ddgs==9.5.5
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
depinfo==2.2.0
depyf==0.19.0
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diamond==4.0.515
diffusers==0.35.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
durationpy==0.10
easy-parallel==0.1.6
easydict==1.13
einops==0.8.1
einx==0.3.0
email-validator==2.3.0
esm==3.2.1.post1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup==1.3.0
executing==2.2.0
fairseq==0.12.2
faiss-cpu==1.7.3
Farama-Notifications==0.0.4
fastapi==0.116.1
fastapi-cli==0.0.11
fastapi-cloud-cli==0.1.5
fastjsonschema==2.21.2
fastrlock==0.8.3
ffmpeg-python==0.2.0
ffmpy==0.6.1
filelock==3.19.1
fire==0.7.1
flash_attn==2.8.3
Flask==3.1.1
flatbuffers==25.2.10
flatten-dict==0.4.2
fonttools==4.59.1
fqdn==1.5.1
freesasa==2.2.1
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
gguf==0.17.1
git-filter-repo==2.47.0
google-auth==2.40.3
google_search_results==2.4.2
googleapis-common-protos==1.70.0
gradio==5.45.0
gradio_client==1.13.0
greenlet==3.2.4
groovy==0.1.2
grpcio==1.74.0
gymnasium==1.2.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.1.10
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface==0.0.1
huggingface-hub==0.34.4
humanfriendly==10.0
hydra-core==1.0.7
hyper-connections==0.2.1
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
interegular==0.3.3
ipykernel==6.30.1
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
jpype1==1.6.0
json5==0.12.1
json_repair==0.50.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
julius==0.2.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
kubernetes==33.1.0
langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.29
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-text-splitters==0.3.11
langid==1.1.6
langsmith==0.4.27
lark==1.2.2
lazy_loader==0.4
librosa==0.9.1
linkify-it-py==2.0.3
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
lmdb==1.7.3
local-attention==1.11.2
loguru==0.7.3
lxml==6.0.0
Markdown==3.8.2
markdown-it-py==4.0.0
markdown2==2.5.4
markdownify==1.2.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
mcp==1.12.4
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapy==1.2.4
mistral_common==1.8.5
mistune==3.1.4
mmh3==5.2.0
modelscope_studio==1.1.7
mpmath==1.3.0
msgpack==1.1.1
msgpack-numpy==0.4.8
msgspec==0.19.0
multidict==6.6.4
multipledispatch==1.0.0
multiprocess==0.70.16
mypy_extensions==1.1.0
narwhals==2.1.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.10.0
nest-asyncio==1.6.0
netifaces==0.10.6
networkx==3.4.2
ninja==1.13.0
notebook==7.4.5
notebook_shim==0.2.4
numba==0.61.2
numexpr==2.11.0
numpy==2.2.6
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.8.55
oauthlib==3.3.1
occlusion_kernel==1.0
omegaconf==2.0.6
onnxruntime==1.22.1
onnxruntime-gpu==1.22.0
open3d==0.19.0
openai==1.107.2
openai-harmony==0.0.4
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
optlang==1.8.3
orjson==3.11.3
outlines_core==0.2.10
overrides==7.7.0
packaging==25.0
Panda3D==1.10.15
panda3d-gltf==0.15.0
panda3d-simplepbr==0.13.1
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.4
partial-json-parser==0.2.1.1.post6
pathos==0.3.4
pathspec==0.12.1
pdfminer.six==20250506
pdfplumber==0.11.7
peft==0.17.1
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
plotly==6.3.0
pooch==1.8.2
portalocker==3.2.0
posthog==5.4.0
pox==0.3.6
ppft==1.7.7
praat-parselmouth==0.4.6
primp==0.15.0
progressbar==2.5
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
ptyprocess==0.7.0
PubChemPy @ git+https://github.com/mcs07/PubChemPy.git@a5d86463dab32dd3589479cf9b9737e26651dd7d
pulsar-client==3.8.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pybind11==3.0.1
pycountry==24.6.1
pycparser==2.23
pydantic==2.11.9
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pyDOE==0.3.8
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.2
pyloudnorm==0.1.1
pyparsing==3.2.4
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyquaternion==0.9.9
pyrr==0.10.3
PySCIPOpt==5.6.0
pystoi==0.4.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-engineio==4.12.2
python-json-logger==3.3.0
python-libsbml==5.20.5
python-multipart==0.0.20
python-pptx==1.0.2
python-socketio==5.13.0
pytz==2025.2
pyworld==0.3.2
PyYAML==6.0.2
pyzmq==27.1.0
qwen-agent==0.0.29
randomname==0.2.1
rank-bm25==0.2.2
ray==2.49.1
rdkit==2025.3.5
referencing==0.36.2
reframed==1.6.0
regex==2025.9.1
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resampy==0.4.3
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rich-toolkit==0.15.1
rignore==0.6.4
rpds-py==0.27.1
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
ruff==0.13.0
s3fs==2025.7.0
s3transfer==0.10.4
sacrebleu==2.5.1
sacremoses==0.1.1
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.7.1
scikit_build_core==0.11.5
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.1
sentry-sdk==2.37.1
setproctitle==1.3.7
setuptools-scm==9.2.0
shapely==2.1.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smolagents==1.21.3
sniffio==1.3.1
snowballstemmer==3.0.1
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
SQLAlchemy==2.0.43
sse-starlette==3.0.2
sseclient==0.0.27
stack-data==0.6.3
starlette==0.47.3
straindesign==1.15
swiglpk==5.0.12
sympy==1.14.0
tables==3.10.1
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tokenizers==0.22.0
tomli==2.2.1
tomlkit==0.13.3
torch==2.7.1+cu128
torch-geometric==2.6.1
torch-stoi==0.2.3
torch_cluster==1.6.3
torch_scatter==2.1.2
torchaudio==2.7.1+cu128
torchcrepe==0.0.20
torchfcpe==0.0.4
torchtext==0.18.0
torchvision==0.22.1+cu128
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.56.1
triton==3.3.1
typer==0.17.4
types-python-dateutil==2.9.0.20250822
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==2.5.0
uv==0.8.17
uvicorn==0.35.0
uvloop==0.21.0
vector-quantize-pytorch==1.23.1
vllm==0.10.1.1
watchfiles==1.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.17.3
wsproto==1.2.0
xformers==0.0.31
xgrammar==0.1.21
xlsxwriter==3.2.7
xxhash==3.5.0
yapf==0.43.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.24.0
zstd==1.5.7.2
